<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.datamodel.dao.mapper.base.UserMapper">

    <select id="listUser" resultType="com.xxx.datamodel.dao.entity.base.UserEntity">
        select * from user
        <where>
            <if test="req.name != null and req.name != ''">
                name like concat('%',#{req.name},'%')
            </if>
        </where>
    </select>
</mapper>